---
layout: default
title: Home
---




<div class="page" id="Team">
	
	
    <div class="pageheader">

        <div class="headercontent">

            <div class="section-container">
                <h2 class="title">Research Team</h2>


             

 
      
   



 
				
			{% for group in site.data.team %}
				 
				{% assign i = 0 %}
				<div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        
                        <div class="title text-center">
                            <h3>{{ group.label }}</h3>
                        </div>    
                        
                         
                        {% for person in group.items %}
                         
             {% if i == 3 %}
             
    						<br/>
 							&nbsp;
 							<br/>
 	         {% assign i = 0 %}
             {% endif %}             
  
							
						   
							<div class="col-md-4 col-md-offset-0" align="center">
								
								 
								<img height="100"  src="/img/students/{{person.image}}"/>
								
								<br/>
								
								{{person.from}} - {{ person.to }}  <br/> <b>{{ person.name }}</b> 
								
								  
								
							{% if person.col.size >0 %}  
							</br><it>Collaboration with </it> 
							  
							      <b><a href="{{person.col.url}}">{{person.col.name}}</a></b>
							   
							      
							{% endif %}    
							
							</div>
							
							 {% assign i = i | plus:1 %}
					{% endfor %}

 
						</div>
					</div>
					{% endfor %}




 




         
            </div>
        </div>
    </div>

 



</div>    









  
   













