                        <ul id="navigation">

                            <li><a href="/">
                                    <div class="icon "></div>
                                    <div class="text">News</div>
                                </a></li>



                            <li><a href="/About_me">
                                    <div class="icon icon-user"></div>
                                    <div class="text">About Me</div>
                                </a></li>


                         <li><a href="/Team">
                                    <div class="icon"></div>
                                    <div class="text">Research Team</div>
                                </a></li>



<!--                            <li><a href="/Research">
                                    <div class="icon icon-book"></div>
                                    <div class="text">Research</div>
                                </a></li>-->


                            <li><a href="/Publications">
                                    <div class="icon icon-edit"></div>
                                    <div class="text">Publications</div>
                                </a></li>

<!--
                            <li><a href="/Talks">
                                    <div class="icon"></div>
                                    <div class="text">Talks</div>
                                </a></li>
    -->
                            <li><a href="/CV">
                                    <div class="icon "></div>
                                    <div class="text">CV</div>
                                </a></li>



<!--
                            <li><a href="/Teaching">
                                    <div class="icon icon-time"></div>
                                    <div class="text">Teaching</div>
                                </a></li>

   

                            <li><a href="/Software">
                                    <div class="icon "></div>
                                    <div class="text">Software</div>
                                </a></li>
-->
                        </ul>
